.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(snowflake.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.wrapper{
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1024px;
	height: 700px;
}
h1{
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	font-family: kari-display-pro, sans-serif;
	font-style: normal;
	font-weight: 400px;
	font-size: 55px;
	color: rgb(204,79,65);
	line-height: 60px;
}
.performers{
	position: absolute;
	top: 140px;
	width: 100%;
	text-align: left;
	font-family: haboro-contrast-normal, sans-serif;
	font-style: normal;
	font-weight: bold;
	left: 50px;
	font-size: 35px;
	color: rgb(204,79,65);
	line-height: 36px;	
}
.date{
	position: absolute;
	top: 275px;
	width: 100%;
	text-align: left;
	font-family: haboro-contrast-normal, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	left: 50px;
	color: rgb(101,148,141);
}
.time{
	position: absolute;
	top: 310px;
	width: 100%;
	text-align: left;
	left: 50px;
	font-family: haboro-contrast-normal, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgb(101,148,141);
}
.address{
	position: absolute;
	top: 345px;
	width: 100%;
	text-align: left;
	left: 50px;
	font-family: haboro-contrast-normal, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	line-height: 32px;
	color: rgb(101,148,141);
}
.tickets{
	position: absolute;
	top: 380px;
	width: 100%;
	left: 50px;
	text-align: left;
	font-family: haboro-contrast-normal, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgb(101,148,141);
}
.description{
	position: absolute;
	top: 455px;
	width: 100%;
	text-align: center;
	font-family: haboro-contrast-normal, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgb(204, 79, 65);	
}
@media (max-width: 1024px) {
	.wrapper{
		width: 375px;
		height: 667px;
	}
  h1 {
  	top: 55px;
  	font-size: 45px;
  	color: rgb(101,148,141);
  	line-height: 46px;
  	text-align: center;
  }
  .performers{
  	font-size: 25px;
  	text-align: center;
  	color: rgb(0,0,0);
  	top: 180px;
  	line-height: 25px;
  	left: 10px;
  	color: rgb(204, 79, 65);
  }
  .date{
  	top: 265px;
  	font-size: 15px;
  	color: rgb(220,136,131);
  	left: 15px;
  }
  .time{
  	top: 295px;
  	font-size: 15px;
  	color: rgb(220,136,131);
  	left: 15px;
  }
  .address{
  	top: 325px;
  	font-size: 15px;
  	color: rgb(220,136,131);
  	left: 15px;
  	line-height: 20px;
  }
  .tickets{
  	top: 380px;
  	font-size: 15px;
  	color: rgb(220,136,131);
  	left:15px
  }
  .description{
  	top: 415px;
  	font-size: 15px;
  	color: rgb(204, 79, 65);
  	left: 15px;
  	text-align: center; 	
  }
  .background{
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	background-image: url(snowflake2.jpg);
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100vw;
  	height: 100vh;
  }
}


