.h3{
	font-family: proxima-nova, sans-serif;
	font-weight: 1000px;
	font-style: bold;
	font-size: 20px;
}

.rel{
	position: relative;
	color: black;
	margin-bottom: 4px;
	font-family: proxima-nova, sans-serif;
	font-weight: 400px;
	font-style: normal;
	font-size: 20px;
	line-height: 22px;
}