html{
	background-color: rgb(140,195,192);
}
h1{
	font-family:avenir next condensed;
	font-size:60px;
	top: 50px;
	color: rgb(255,255,255);
}
.typography.jpg{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 50px;
	height: 40px;
}
.characters.jpg{
	position: relative;

}
.finearts.jpg{
	position: relative;
}

.wander{
	position: absolute;
	top: 150px;
	left: 350px;
}

.xfiles{
	position: absolute;
	top: 150px;
	left: 620px;
}

.name{
	position: absolute;
	top: 450px;
	left: 350px;
}

.logic{
	position: absolute;
	top: 450px;
	left: 620px;
}