body{
	margin: 0;
	padding: 0;
	background-color: rgb(195, 255, 215);
}

.hour{
	position: relative;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-color: rgb(0, 132, 146);
	animation-name: animationA;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.second{
	position: absolute;
	left: 600px;
	top: 200px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: rgb(161, 21, 255);
	animation-name: animationB;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.minute{
	position: absolute;
	left: 1000px;
	top: 200px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: rgb(255, 127, 96);
	animation-name: animationC;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@keyframes animationA{
	0% {
		top: 0;
		background-color: rgb(0, 132, 146);
	}
	100%{
		top: 400px;
		background-color: rgb(230, 140, 200);
	}
}

@keyframes animationB{
	0% {
		top: 0;
		background-color: rgb(161, 21, 255);
	}
	100%{
		top: 650px;
		background-color: rgb(92, 181, 196);
	}
}

@keyframes animationC{
	0% {
		top: 0;
		background-color: rgb(255, 127, 69);
	}
	100%{
		top: 650px;
		background-color: rgb(255, 170, 180);
	}
}